* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERIC VALUES */
body {
  background-color: #f6f5f3;
  font-family: "Montserrat", serif;
}

.debug {
  border: solid 1px #000000;
}

.logo {
  font-size: 40px;
  font-family: "Nerko One", serif;
  color: #ff9614;
}

ul {
  list-style: none;
}

h1 {
  font-size: 30px;
  color: #4e3969;
}

h3 {
  font-size: 20px;
}

h4 {
  color: #808080;
}

h5 {
  font-size: 18px;
  padding-bottom: 5px;
}

hr {
  color: #f78c16;
  width: 7%;
  margin-top: 10px;
}

.hidden-text {
  display: none;
}

.hidden-social {
  display: none;
}

footer a {
  color: #ffffff;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* MOBILE VERSION */

/* HEADER */
header {
  background-color: #ffffff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN */
#container-main {
  width: 90%;
  margin: 0 auto;
}

section {
  margin: 30px 0;
}

.recipe-guide {
  margin-top: 20px;
}

.video-recipe > img {
  width: 100%;
  height: 100%;
}

.short-infos {
  border: solid 1px #000000;
  padding: 20px;
  box-shadow: 0 10px 10px #e3e1e2;
}

h3 {
  padding-bottom: 20px;
}

.short-infos li {
  padding: 10px 0;
}

.socials {
  margin-top: 20px;
}

.socials > ul {
  display: flex;
  justify-content: space-between;
}

.socials li {
  border-radius: 100px;
  padding: 10px;
  border: solid 1px #000000;
}

.socials a {
  text-decoration: none;
}

.banner {
  margin-top: 20px;
  text-align: center;
}

.banner > img {
  max-width: 100%;
}

.photo-recipe {
  margin: 20px auto;
  width: 65%;
}

.photo-recipe > img {
  max-width: 100%;
}

/* FOOTER */
footer {
  background-color: #7c69a4;
  padding: 20px;
  margin-top: 50px;
  color: #ffffff;
}

.col {
  text-align: center;
  padding: 10px;
}

#menu-footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#menu-footer > li {
  flex-basis: 21%;
  padding: 10px;
}

/* TABLET VERSION */
@media screen and (min-width: 768px) {
  /* HEADER */
  header {
    justify-content: left;
  }

  .logo {
    margin-left: 30px;
  }

  /* MAIN */
  .hidden-text {
    display: inline;
  }

  h3 {
    padding: 10px;
  }

  .short-infos > ul {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
  }

  .short-infos li {
    flex-basis: 33%;
    padding: 10px;
  }

  .socials li {
    padding: 10px 35px;
  }

  .photo-recipe {
    float: left;
    margin: 20px 15px 0 0;
    width: 55%;
  }

  .presentation-text {
    margin: 20px 0;
  }

  /* FOOTER */
  #menu-footer {
    flex-wrap: nowrap;
  }

  #menu-footer > li {
    flex-basis: 17%;
  }
}

/* DESKTOP VERSION */
@media screen and (min-width: 992px) {
  /* FOOTER */
  #footer-row {
    display: flex;
    justify-content: space-between;
  }

  #menu-footer {
    justify-content: flex-end;
  }

  /* MAIN */
  .recipe-guide {
    display: flex;
    margin-top: 20px;
  }

  .video-recipe {
    width: 60%;
  }

  .short-infos {
    width: 40%;
  }

  .short-infos > ul {
    display: block;
  }

  .hidden-social {
    display: inline;
  }

  .photo-recipe {
    width: 40%;
  }

  /* FOOTER */
  .col {
    text-align: left;
    width: 50%;
  }
}
